html {
  font-size: var(--base-font-size, 14px);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight, 300);
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-block-size: 100%;
}

a {
  color: var(--foreground);
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.025em;
  font-weight: 200;

  &:hover {
    background-color: var(--muted);
    color: var(--muted-foreground);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}