/* Button styles */
.button {
  font: inherit;
  letter-spacing: inherit;
  opacity: 1;
  display: inline-flex;
  box-sizing: border-box;
  border: 1px solid transparent;
  height: var(--input-height);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius-button);
  padding-inline: 1rem;
  background-color: var(--foreground-alt);
  color: var(--background);
  transition-property: background-color, color, opacity;

  background-origin: border-box;

  /* --tw-shadow: 0px 1px 0px 1px #0000004d;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, var(--tw-shadow); */

  &:hover:not([disabled]) {
    background-color: var(--foreground);
    color: var(--background);
    transition-duration: 0.3s;
    cursor: pointer;
  }

  &:active {
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
    scale: 0.98;
  }

  &.primary {
    background-color: highlight;
    color: var(--contrast);

    &:hover {
      background-color: highlight;
      opacity: 0.8;
      color: var(--contrast);
    }
  }

  &.warn {
    background-color: var(--tertiary);
    color: var(--contrast);

    &:hover {
      background-color: var(--tertiary-80);
      color: var(--contrast);
    }
  }

  &.danger {
    background-color: var(--destructive);
    color: var(--background);

    &:hover {
      background-color: var(--destructive-80);
      color: var(--background);
    }
  }

  &[disabled] {
    background-color: var(--muted);
    color: var(--foreground-alt);
  }

  /* &.primary {
    @apply bg-dark text-dark-foreground hover:bg-dark/80
    dark:bg-dark dark:text-dark-foreground dark:hover:bg-dark/80;
  }

  &.warn {
    @apply bg-tertiary hover:bg-tertiary/80;
  }

  &.danger {
    @apply bg-destructive hover:bg-destructive/80;
  }

  &.raised {
    @apply shadow-sm;
  } */
}

.button.outlined {
  background-color: transparent;
  border-color: var(--dark-40);
  color: currentColor;

  &:hover {
    background-color: var(--dark-04);
    border-color: var(--dark-80);
    color: currentColor;
  }

  &.primary {
    border-color: highlight;
    color: highlight;

    &:hover {
      background-color: var(--dark-04);
      color: highlight;
    }
  }

  &.warn {
    border-color: var(--tertiary);
    color: var(--tertiary-text);

    &:hover {
      background-color: var(--tertiary-10);
      color: var(--tertiary-text);
    }
  }

  &.danger {
    border-color: var(--destructive);
    color: var(--destructive);

    &:hover {
      background-color: var(--destructive-10);
    }
  }

  &[disabled] {
    border-color: var(--muted);
    color: var(--foreground-alt);
  }
}

.button.text {
  /* @apply bg-transparent text-current hover:bg-muted dark:hover:bg-dark-04; */
  background-color: transparent;
  color: var(--foreground);
  font-weight: 500;

  &:hover {
    background-color: var(--dark-04);
    color: var(--foreground);
  }

  &.primary {
    color: highlight;

    &:hover {
      background-color: var(--dark-04);
    }
  }

  &.warn {
    color: var(--tertiary-text);

    &:hover {
      background-color: var(--tertiary-10);
    }
  }

  &.danger {
    color: var(--destructive);

    &:hover {
      background-color: var(--destructive-10);
    }
  }

  &[disabled] {
    color: var(--muted-foreground);

    &:hover {
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}

.button.icon {
  border-radius: 100%;
  padding: 0;
  width: var(--input-height);
  height: var(--input-height);
  display: relative;

  .svg {
    color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* .button.icon {
  @apply rounded-full p-0 w-11 h-11 relative;

  .svg {
    color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */

.button.narrow {
  padding-inline: 0.25rem;
}
/* .button.narrow {
  @apply px-input-xs;
}

.button.inset {
  @apply border-none;
  height: calc(var(--height-input) - 2px);
}

.button.free {
  height: auto;
}

.button.justify-between {
  @apply justify-between;
} */

/* .button:disabled {
  @apply bg-dark-10 text-dark-40 opacity-50 cursor-not-allowed pointer-events-none;

  &.outlined {
    @apply border-dark-10 bg-transparent text-dark-40;
  }

  &.text {
    @apply bg-transparent text-dark-40 hover:bg-muted;
  }
} */