/* Button styles */
.button,
input:where([type="button"], [type="reset"], [type="submit"]) {
  appearance: button;
}

.button {
  font: inherit;
  letter-spacing: inherit;
  opacity: 1;
  display: inline-flex;
  height: var(--input-height);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-button);
  padding-inline: 0.5rem;
  background-color: var(--foreground-alt);
  color: var(--background);
  transition: background-color 0.2s ease-in-out;

  --tw-shadow: 0px 1px 0px 1px #0000004d;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, var(--tw-shadow);

  &:hover {
    background-color: var(--foreground);
    color: var(--background);
  }

  &:active {
    transition-property: all;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
    scale: 0.98;
  }

  /* &.primary {
    @apply bg-dark text-dark-foreground hover:bg-dark/80
    dark:bg-dark dark:text-dark-foreground dark:hover:bg-dark/80;
  }

  &.warn {
    @apply bg-tertiary hover:bg-tertiary/80;
  }

  &.danger {
    @apply bg-destructive hover:bg-destructive/80;
  }

  &.raised {
    @apply shadow-sm;
  } */
}

/* .button.outlined {
  @apply bg-transparent border-1 border-dark-40 text-dark hover:bg-muted dark:border-contrast;

  &.primary {
    @apply border-dark text-current hover:bg-muted;
  }

  &.warn {
    @apply text-tertiary border-tertiary hover:bg-tertiary/10;
  }

  &.danger {
    @apply text-destructive border-destructive hover:bg-destructive/10;
  }
} */

.button.text {
  /* @apply bg-transparent text-current hover:bg-muted dark:hover:bg-dark-04; */
  background-color: transparent;
  color: currentColor;

  &:hover {
    background-color: var(--muted);
  }

  &.primary {
    /* @apply text-dark hover:bg-muted; */
    color: var(--dark);

    &:hover {
      background-color: var(--muted);
    }
  }

  /* &.warn {
    @apply text-tertiary hover:bg-tertiary/10;
  }

  &.danger {
    @apply text-destructive hover:bg-destructive/10;
  } */
}

.button.icon {
  border-radius: 100%;
  padding: 0;
  width: var(--input-height);
  height: var(--input-height);
  display: relative;
}
/* .button.icon {
  @apply rounded-full p-0 w-11 h-11 relative;

  .svg {
    color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */

.button.narrow {
  padding-inline: 0.25rem;
}
/* .button.narrow {
  @apply px-input-xs;
}

.button.inset {
  @apply border-none;
  height: calc(var(--height-input) - 2px);
}

.button.free {
  height: auto;
}

.button.justify-between {
  @apply justify-between;
} */

/* .button:disabled {
  @apply bg-dark-10 text-dark-40 opacity-50 cursor-not-allowed pointer-events-none;

  &.outlined {
    @apply border-dark-10 bg-transparent text-dark-40;
  }

  &.text {
    @apply bg-transparent text-dark-40 hover:bg-muted;
  }
} */