.markdown {
  font-size: 13px;

  p {
    margin: .75rem 0;
  }

  a {
    color: var(--info)
  }

  ul {
    margin: .5rem 1.25rem;
    list-style: circle;
    font-size: 1rem;
  }

  ol {
    margin: .5rem 1.25rem;
    list-style: decimal;
  }
  
  li {
    margin: .25rem 0;
  }
}